w10_hw3/lurajcevi_zadaca_3/lurajcevi/xml-resources/web-service-references/MeteoWS/wsdl/localhost_8084/lurajcevi_zadaca_3_1/MeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://serveri.ws.lurajcevi.nwtis.foi.org/" xmlns:ns1="http://api.wxbug.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.lurajcevi.nwtis.foi.org/">

<xs:import namespace="http://api.wxbug.net/" schemaLocation="http://localhost:8084/lurajcevi_zadaca_3_1/MeteoWS?xsd=2" />

<xs:element name="dajMeteoWSPodatkeZaViseZip" type="tns:dajMeteoWSPodatkeZaViseZip" />

<xs:element name="dajMeteoWSPodatkeZaViseZipResponse" type="tns:dajMeteoWSPodatkeZaViseZipResponse" />

<xs:element name="dajMeteoWSPodatkeZaZip" type="tns:dajMeteoWSPodatkeZaZip" />

<xs:element name="dajMeteoWSPodatkeZaZipResponse" type="tns:dajMeteoWSPodatkeZaZipResponse" />

<xs:complexType name="dajMeteoWSPodatkeZaZip">
<xs:sequence>
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoWSPodatkeZaZipResponse">
<xs:sequence>
<xs:element name="return" type="ns1:LiveWeatherData" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoWSPodatkeZaViseZip">
<xs:sequence>
<xs:element name="zipovi" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoWSPodatkeZaViseZipResponse">
<xs:sequence>
<xs:element name="return" type="ns1:LiveWeatherData" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>